/* Style for the container of coffee types */


.coffee-types {
    margin-top: 50px;
    background-color: #d4b592; /* Change background color here */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for each coffee type item */
.coffee-type {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for coffee type title */
.coffee-type h3 {
font-family:Century;
    color: #e7a65c;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for coffee type description */
.coffee-type p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}
